*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
body { background: #1e1e2e; }

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
